<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessyLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MessyLab.Properties.Settings>
            <setting name="ProjectRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="Pico_AutoAssemble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pico_GenerateHex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pico_GenerateTxt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
        </MessyLab.Properties.Settings>
    </userSettings>
</configuration>